<main>
    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
            <h1 class="page-title">Business Cards</h1>
            <p class="page-description">
                Here you can manage your business cards.
            </p>
        </div>
        <app-card-search></app-card-search>
        <button style="margin-left: 16px;" mat-flat-button color="primary" (click)="openAddCardModal()">New Business Card</button>
    </div>
    
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12" *ngIf = "!cardService.cards">
                <span>Business Cards Loading... Please wait...</span>
            </div>
            <div class="col-12" *ngIf = "cardService.cards?.length === 0">
                <span>You have not added cards yet. <a class="text-primary" (click)="openAddCardModal()">Click here</a> to add your first business card.</span>
            </div>
            <div class="col-12 col-md-4 col-lg-3" *ngFor="let card of cardService.filteredCards">
                <app-card-item [card] = "card"></app-card-item>
            </div>
        </div>
    </div>
</main>